##Write a program to print "Hello Python" ten times.

In [1]:
i=1
while i<=10:
    print('Python')
    i=i+1

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python

##Write a program to print number from 1 to 10.

In [4]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

##Write a program to print sum of first ten numbers.

In [5]:
i=1
add=0
while i<=10:
    add=add+i
    i=i+1
print(add)

55

##Write a program to print n number entered by the user.

In [1]:
a=int(input("Enter a number"))
for i in range(1,a+1):
    print(i)

Enter a number5
1
2
3
4
5

##Write a program to print sum of n numbers

In [3]:
n = int(input("Enter the value of n: "))  
sum = 0  
for i in range(1, n+1):
    num = int(input("Enter number {}: ".format(i)))
    sum += num
print("The sum of the {} numbers is {}".format(n, sum))

Enter the value of n: 5
Enter number 1: 1
Enter number 2: 2
Enter number 3: 3
Enter number 4: 4
Enter number 5: 5
The sum of the 5 numbers is 15

##Write a program to print table of a number.

In [4]:
n=int(input('Enter a number'))
i=1
while (i<=10):
    print(i,'*',n,'=',n*i)
    i=i+1

Enter a number5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

##Write a program to find the factorial of a number.

In [2]:
a=int(input("Enter a number"))
fact=1
i=1
while(i<=a):
    fact=fact*i
    i+=1
print(fact)

Enter a number4
24

##Write a program to print even numbers between 1 to 100.

In [1]:
i=1
while i<=100:
    if i%2==0:
        print(i)
    i=i+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

##Write a program to print odd numbers between 1 to 100.

In [4]:
i=1
while i<=100:
    if i%2!=0:
        print(i)
    i=i+1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

##Write a program to check whether a given number is palindrome or not

In [8]:
n=int(input('Enter a number'))
rev=0
while (n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
print('Reverse is ',rev)
if (rev==n):
    print('It is a palindrome')
else:
    print('It is not a palindrome')

Enter a number654
Reverse is  456
It is not a palindrome

##Write a program to find factors of a number.

In [13]:
a = int(input("Enter a number: "))
print("Factors of", a, "are:")
i = 1
while i <= a:
    if a % i == 0:
        print(i)
    i += 1

Enter a number: 10
Factors of 10 are:
1
2
5
10

##Write a program to print the reverse of a number.

In [1]:
a=input("Enter a number")
reverse=a[::-1]
print(reverse)

Enter a number123456
654321

##Write a program to print the sum of reverse of a number.

In [2]:
a = int(input("Enter a number: "))
rev = 0
while a > 0:
    digit = a % 10
    rev = rev * 10 + digit
    a = a // 10
sum_rev = 0
while rev > 0:
    digit = rev % 10
    sum_rev += digit
    rev = rev // 10

print("The sum of the reverse of the number is:", sum_rev)

Enter a number: 75
The sum of the reverse of the number is: 12

##Write a program to check whether a given number is prime or not.

In [4]:
a=int(input('Enter a number'))
b=0
c=0
for i in range(1,a+1):
    b=a%i
    if b==0:
        c+=1
if c==2:
    print(a,'a is a prime number')
else:
    print(a,'a is not a prime number')

Enter a number35
35 a is not a prime number

##write a program to print prime numbers between 1  to 100

In [2]:
for i in range(2, 101):
    is_prime = True
    for j in range(2, i):
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

##Write a program to print number in reverse order entered by the user.

In [2]:
a = input("Enter a number: ")
reverse=a[::-1]
print(reverse)

Enter a number: 56789
98765

##Write a program to print the cubes of all numbers from 1 to a given number.

In [7]:
a=int(input('Enter a number'))
for i in range(1,a+1):
    b=i**3
    print(b)

Enter a number10
1
8
27
64
125
216
343
512
729
1000

##Write a program to print the following number pattern using a loop

In [4]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

##Write a program to print the following number pattern using a loop

In [5]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end='')
    print()

1
22
333
4444
55555

##Write a program to print the following number pattern using a loop

In [6]:
for i in range(6,1,-1):
    for j in range(5,6-i,-1):
        print(j,end='')
    print()

54321
5432
543
54
5

##Write a program to print the following number pattern using a loop

In [8]:
for i in range(6,1,-1):
    for j in range(1,i):
        print(j,end='')
    print()

12345
1234
123
12
1

##Write a program to print the following number pattern using a loop

In [25]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end='')
    print()

54321
4321
321
21
1

##Write a program to print the star pattern

In [11]:
n=5
for i in range(0,n):
    for j in range (0,i+1):
        print('*',end='')
    print()

*
**
***
****
*****